git update-index --assume-unchanged <src/token.json>
git update-index --assume-unchanged <node_modules>
git update-index --assume-unchanged <package-lock.json>
node_modules
src/token.json
package-lock.json
